.page-header {
    background-colour: blue;
}
body {
    background-image: url("../img/symphony.png");
}

// Reset stylesheet
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {


    margin: 0;

    padding: 0;

    border: 0;

    outline: 0;

    font-size: 100%;

    background: transparent;

}

/* Give the body a width */

body {

    width: 100%;

    max-width: 80%;

margin: 0 auto; }

/* Make the nav take up the whole body width, and give it some top and bottom margin space */

nav {
    height: 30%;
    width: 100%;

margin: 20px 0; }

/* Make the list of links take up the whole width of the nav */

nav ul {

width: 100%; }

nav ul li {
width: auto;
}

nav ul li a {
    display: block;
    width: 100%; 
}

nav ul {

    width: 100%; /* from above */

    list-style: none;

    margin: 0;

padding: 0; }

nav ul li {

    width: 18%; /* from above */

    display: inline-block;
}

nav ul li a {

    text-align: center;

    padding: 8px 0;

    display: block;

    width: 100%;

    background: #cdeb8e; /* Old browsers */

    background: -moz-linear-gradient(top, #cdeb8e 0%, #b0ca34 100%); /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#b0ca34)); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #cdeb8e 0%,#b0ca34 100%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #cdeb8e 0%,#b0ca34 100%); /* Opera 11.10+ */

    background: linear-gradient(to bottom, #cdeb8e 0%,#b0ca34 100%); /* W3C standard, IE10+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#b0ca34',GradientType=0 ); /* IE6-9 */

}




/* Form style
 * From http://bootsnipp.com/snippets/featured/application-login
 */
.well{
    background-color:#fff!important;
    border-radius:0!important;
    border:none!important;
    clear:both!important;
}

.well.wlform-box {
    width:100%;
    margin:0 auto;
}
.well.wlform-box legend {
    font-size:26px;
    text-align:center;
    font-weight:300;
}
.well.wlform-box label {
    font-weight:300;
    font-size:16px;

}
.well.wlform-box input[type="text"] {
    box-shadow:none;
    border-color:#ddd;
    border-radius:0;
}

.well.welcome-text{
    font-size:21px;
}

/* Post box */
.post-box {
    margin-bottom: 25px;
    margin-left: 40px;
    clear:both!important;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    position: relative;
    background: #fff;
    border-radius: 2px;
    bottom: -30px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    left: -30px;

}

/* Comment box */
.comment-box {
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 30px;
    clear:both!important;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    position: relative;
    background: #fff;
    border-radius: 2px;
    bottom: -30px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);

}

/* No bullets for post li */
#pagination {
    list-style: none;
    padding: 0;
}

ul.view-post {
    list-style: none;
    padding: 0;
}
